body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
}
	
.content {
    text-transform: uppercase;
    margin: auto;
    padding-left: 30%;
	padding-right: 30%;
	padding-top:0px;
	padding-bottom: 60px;
	position:relative;
}

.image {
	position: relative;
	padding-top: 100px;
	margin-bottom:-55px;
	z-index: +1;
}

h1 {
	margin-bottom: 0px;
}


.top {
	position: relative;
	padding-top: 15px;
	padding-bottom: 0.5px;
	padding-left: 10px;
	padding-right: 10px;
	background: #1C1D1D;
}

.top p {
	margin-top: 10px;
	font-size: 0.8em;
	padding-bottom: 20px;
}

.arrow {
	margin:auto;
	border-top: 20px solid transparent;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: relative;
	pointer-events: none;
	border-top-color: #1C1D1D;
	display: block;
}

.bottom {
	position: relative;
	background: #59080C;
	margin-top: -10px;
	padding-bottom: 25px;
	padding-right: 15px;
	padding-left: 15px;
}

.bottom p {
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	font-weight: bolder;
	font-style: italic;
	text-transform: lowercase;
}

@media screen and (min-width: 1350px) {
	.content {
		width: 550px;
	}
}

@media screen and (max-width: 1100px) {
	.content {
	padding-left: 25%;
	padding-right: 25%;
	}
}

@media screen and (max-width: 875px) {
	.content {
	padding-left: 13%;
	padding-right: 13%;
	}
	
	.image {
	position: relative;
	padding-top: 50px;
	}
}

@media screen and (max-width: 500px) {
	.content {
	padding-left: 7%;
	padding-right: 7%;
	}
	
	.image {
	position: relative;
	padding-top: 25px;
	}	
}

@media screen and (max-width: 370px) {
	.content {
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.image {
	position: relative;
	padding-top: 25px;
	}	
}

@media screen and (max-width: 310px) {
	.content {
	width: 310px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.image {
	position: relative;
	padding-top: 25px;
	}
}
